@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

.container {
    width: 100%;
}

.stream-section {
    display: flex;
    margin-top: 4rem;
    text-decoration: none;
    color: white;

    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    /* background-color: #007fff; */
}

.stream-section:hover {
    transform: translateY(-20px);
}

.thumbnail > img {
    width: 20rem;
    height: 23rem;
    flex-shrink: 0;
    object-position: center;
    object-fit: cover;
    border-radius: 12px;
    margin-inline-end: 3rem;
}

.thumbnail > figcaption {
    font-style: italic;
    font-size: 12px;
    color: rgb(178, 186, 194);
}

.stream-details {
    /* background-color: aqua; */
    padding-block: 1rem;
    width: 100%;
}

.stream-details > .top {
    display: flex;
    align-items: center;
    margin-block-end: 2rem;
}

.stream-details .top > .type {
    /* flex: 1 0 0; */
    margin-inline-end: 10px;

    color: var(--caption-label-text, #858584);

    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.stream-details .top > .view-count {
    color: var(--caption-label-text, #858584);

    font-family: "Space Mono", monospace;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.stream-details > .title {
    font-size: 2rem;
    max-width: 60rem;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 140%;
    align-self: stretch;
}

.stream-details > .started-at {
    flex: 1 0 0;
    color: var(--caption-label-text, #858584);

    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 10px;
}

.stream-details > .user {
    color: #fff;

    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}
